@model Vidly2.Models.Movie

<h1>@Model.Name</h1>
<ul>
	<li><strong>Genre:</strong> @Model.Genre.Name</li>
	<li><strong>Release Date:</strong> @Convert.ToDateTime(Model.ReleaseDate).ToString("MM/dd/yyyy")</li>
	<li><strong>Date Added:</strong> @Convert.ToDateTime(Model.DateAdded).ToString("MM/dd/yyyy")</li>
	<li><strong>Number in Stock:</strong> @Model.NumberInStock</li>
</ul>
