@model Vidly2.ViewModels.CustomerFormViewModel

@if (Model.Customer.Id != 0)
{
	<h2>Edit Customer</h2>
}
else
{
	<h2>New Customer</h2>
}

@using (Html.BeginForm("Save", "Customers"))
{
	@Html.ValidationSummary(true, "Please fix the following errors:")
	<div class="form-group col-6 mb-2">
		@Html.LabelFor(m => m.Customer.Name)
		@Html.TextBoxFor(m => m.Customer.Name, new {@class = "form-control" })
		@Html.ValidationMessageFor(m => m.Customer.Name)
	</div>

	<div class="form-group col-6 mb-2">
		@Html.LabelFor(m => m.Customer.MembershipTypeId)
		@Html.DropDownListFor(m => m.Customer.MembershipTypeId,
	new SelectList(Model.MembershipTypes, "Id", "Name"),
	"Select Membership Type", new {@class = "form-control" })
		@Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
	</div>

	<div class="form-group col-6 mb-2">
		@Html.LabelFor(m => m.Customer.Birthdate)
		@Html.TextBoxFor(m => m.Customer.Birthdate, "{0:d MMM yyyy}", new {@class = "form-control" })
		@Html.ValidationMessageFor(m => m.Customer.Birthdate)
	</div>

	<div class="form-check col-6 mb-2">
		@Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter,
			new {@type = "checkbox", @class = "form-check-input", id = "news-checkbox"})
		<label class="form-check-label" for="news-checkbox">
			Subscribed to Newsletter?
		</label>
	</div>

	@Html.HiddenFor(m => m.Customer.Id);
	@Html.AntiForgeryToken()
	<button type="submit" class="btn btn-primary">Save</button>
}

@section scripts 
{
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}